@if (dataOrUndefined | async; as data) {
  <sky-fluid-grid>
    <sky-row>
      <sky-column [screenMedium]="12">
        <header class="sky-margin-stacked-xl">
          @if (data.images[0]; as image) {
            <sky-avatar [name]="data.name" [src]="image.url" />
          } @else {
            <sky-avatar [name]="data.name" />
          }
          <div>
            <h2>{{ data.name }}</h2>
            @if (data.needsAttention) {
              <sky-alert alertType="warning">
                This animal needs attention!
              </sky-alert>
            }
          </div>
        </header>
      </sky-column>
    </sky-row>
    <sky-row>
      <sky-column [screenXSmall]="8" [screenMedium]="6">
        <app-description-list>
          <app-description-list-item
            term="Breed"
            [description]="data.breed || 'N/A'" />
          <app-description-list-item
            term="Gender"
            [description]="data.gender || 'N/A'" />
          <app-description-list-item
            term="Age"
            [description]="data.birthdate ? age(data.birthdate) : 'N/A'" />
        </app-description-list>
      </sky-column>
      @if (data.bio) {
        <sky-column [screenMedium]="6">
          <sky-box class="sky-margin-stacked-xl">
            <sky-box-content>
              <pre>{{ data.bio }}</pre>
            </sky-box-content>
          </sky-box>
        </sky-column>
      }
    </sky-row>
    <sky-row>
      <sky-column [screenMedium]="2">
        <app-description-list>
          <app-description-list-item
            term="Created"
            [description]="data.createdAt | skyDate" />
          <app-description-list-item
            term="Last updated"
            [description]="data.updatedAt | skyDate" />
        </app-description-list>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
} @else {
  <sky-error errorType="broken" />
}
