<sky-page layout="blocks">
  <sky-page-header pageTitle="Animal Profiles" [parentLink]="parentLink">
    <sky-page-header-actions>
      <a
        routerLink="../.."
        class="sky-btn sky-btn-default"
        aria-label="Back to the list">
        <sky-icon iconName="chevron-left" />
        Back
      </a>
      <button
        data-button-id="edit"
        class="sky-btn sky-btn-default"
        type="button"
        (click)="edit()">
        <sky-icon iconName="edit" />
        Edit
      </button>
    </sky-page-header-actions>
  </sky-page-header>
  <sky-page-content>
    <!-- Avoid a 404 error when the persistence service is not ready -->
    @defer (when !loading()) {
      <app-view [id]="id() ?? ''" disableMargin />
    } @placeholder {
      <sky-wait [isFullPage]="true" />
    }
  </sky-page-content>
</sky-page>
