:host {
  display: block;
}

sky-page-content {
  min-height: calc(100vh - 200px);

  sky-data-manager {
    height: 100%;
  }
}

.image-column {
  height: var(--ag-row-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-column {
  vertical-align: middle;
}
